{% extends "news/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>Archived News</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="list-group">
                {% for news in news %}
                    <a style="word-break: break-word" href="{% url 'viewnews' news.id %}" class="list-group-item list-group-item-action"> <b>{{ news.title }}</b> - Archived {{ news.datearchived|date:'M j Y H:i' }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
